<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABCompanyForm.Properties.Settings.ABCompanyDBConnectionString"
            connectionString="Data Source=LAPTOP-CHIRANTH\SQLEXPRESS_14;Initial Catalog=ABCompanyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>